/* styles.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

/* Estilos para el contenedor de botones en la parte izquierda */
#buttons-container {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Estilos para los botones */
.btn {
    background-color: #fff;
    color: #3498db;
    border: none;
    padding: 10px;
    margin: 5px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para los botones al pasar el mouse */
.btn:hover {
    background-color: #ddd;
}

/* Estilos para el mapa */
#map {
    flex: 1;
    height: 100vh;
}

#loader {
    width: 180px;
    height: 180px;
    position: fixed;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    z-index: 99999999;
    background-size: cover;
    animation: forestAnimation 2s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.5); /* RGBA con un valor alfa de 0.5 (50% de transparencia) */
    background: url("../images/forest.svg") no-repeat center center;
}
@keyframes forestAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-5px);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999;
}

/* Estilos para inhabilitar todos los elementos, excepto el loader */
#overlay:active {
    pointer-events: none;
}