/* styles.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

button:disabled {
    /* Estilos para botones deshabilitados */
    opacity: 0.5; /* Por ejemplo, puedes reducir la opacidad */
    cursor: not-allowed; /* Cambiar el cursor */
}


/* Estilos para el contenedor de botones en la parte izquierda */
#buttons-container {
    background-color: indianred;
    color: #fff;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Estilos para los botones */
/* Estilos para el cuadro de diálogo */
.dialog {
    display: none;
    position: relative;
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Asegura que el cuadro de diálogo esté por encima del contenido */
  }
  
  .dialog-content {
    background-color: white;
    padding: 20px;
    color: black;
    border-radius: 5px;
    text-align: center;
  }
  
  /* Estilos para el botón de cierre */
  .btn {
    background-color: #82b485;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Hace que los botones sean elementos de bloque */
    width: 100%;
  }
  
  .btn:hover {
    background-color: #00b30f8e;
  }
  

/* Estilos para el mapa */
#map {
    flex: 1;
    height: 100vh;
}

#loader {
    width: 180px;
    height: 180px;
    position: fixed;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    z-index: 99999999;
    background-size: cover;
    animation: forestAnimation 2s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.5); /* RGBA con un valor alfa de 0.5 (50% de transparencia) */
    background: url("../images/forest.svg") no-repeat center center;
}
@keyframes forestAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-5px);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999;
}

/* Estilos para inhabilitar todos los elementos, excepto el loader */
#overlay:active {
    pointer-events: none;
}
/* Estilos para el footer */
footer {
    position: absolute; /* Establece la posición absoluta dentro del div buttons-container */
    bottom: 0; /* Coloca el footer en la parte inferior del div */
    background-color: #82b485;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%; /* Asegura que el footer tenga el ancho completo del div */
    font-family: emoji;
  }

  /* Estilos para el botón de cierre del modal */
#closeDialog {
    /* background-color: #00ff224f; */
    color: white;
    border: none;
    padding: 5px 10px; /* Ajusta el padding para hacerlo más pequeño */
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px; /* Ajusta el tamaño de la fuente para hacerlo más pequeño */
  }
  
  #closeDialog:hover {
    background-color: #00b31e77;
  }
  