<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de la Primavera</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div id="buttons-container">
        <button class="btn" id="loadWildfires">Cargar Incendios</button>
        <button class="btn" id="loadDataAndShowPredictions">Indices de propagación</button>
    </div>
    <div style="display: none;" id="overlay"></div>
    <div id="map"></div>
    <div style="display: none;" id="loader"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    function loading() {
            // Mostrar el overlay
            document.getElementById("overlay").style.display = "block";
            // Mostrar el loader
            document.getElementById("loader").style.display = "block";

            // Deshabilitar los botones durante la carga
            document.getElementById("loadWildfires").disabled = true;
            document.getElementById("loadDataAndShowPredictions").disabled = true;
        }

    function content_loaded() {
            // Ocultar el overlay
            document.getElementById("overlay").style.display = "none";
            // Ocultar el loader
            document.getElementById("loader").style.display = "none";

            // Habilitar los botones después de la carga
            document.getElementById("loadWildfires").disabled = false;
            document.getElementById("loadDataAndShowPredictions").disabled = false;
        }

    function CleanMap() {
        // Limpiar todas las capas del mapa
        map.eachLayer(function (layer) {
          map.removeLayer(layer);
        });

        // Volver a agregar la capa de mapa base
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          maxZoom: 19,
        }).addTo(map);
      }
      var map = L.map("map").setView([20.635, -103.57], 12);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      var loadWildfiresButton = document.getElementById("loadWildfires");
      var loadDataAndShowPredictionsButton = document.getElementById(
        "loadDataAndShowPredictions"
      );

      loadWildfiresButton.addEventListener("click", function () {
        CleanMap();
        loading();
        // Enviar una solicitud al servidor para cargar los incendios en el mapa
        $.ajax({
          url: "/kauil/load_wildfires",
          method: "GET",
          beforeSend: function () {
            loading(); // Mostrar el loader antes de la solicitud
          },
          complete: function () {
            content_loaded(); // Ocultar el loader cuando la solicitud se completa
          },
          success: function (heatPoints) {
            console.log(heatPoints);
            // Agrega los puntos al mapa existente
            heatPoints.forEach(function (point) {
                L.marker([point[1], point[0]]).addTo(map); // Agrega un marcador en la posición
            });
        },
        });
      });

      loadDataAndShowPredictionsButton.addEventListener("click", function () {
        CleanMap();
        loading();
        $.ajax({
          url: "/kauil/load_DataAndShowSpreadRate",
          method: "GET",
          beforeSend: function () {
            loading(); // Mostrar el loader antes de la solicitud
          },
          complete: function () {
            content_loaded(); // Ocultar el loader cuando la solicitud se completa
          },
          success: function (response) {
            // Parsea la respuesta JSON para obtener los valores del índice de propagación
            var values = response['I'];

            // Define tus rangos de colores aquí
            var colors = ['green', 'yellow', 'orange', 'red'];

            // Calcula el valor mínimo y máximo
            var minI = Math.min(...values);
            var maxI = Math.max(...values);

            // Calcula el rango de valores
            var range = maxI - minI;

            // Función para asignar colores en función del valor del índice de propagación
            function getColor(value) {
                var index = Math.floor((value - minI) / range * (colors.length - 1));
                return colors[index];
            }

            // Crear el objeto GeoJSON
            var geojson = L.geoJson(response, {
                style: function (feature) {
                    return {
                        fillColor: getColor(feature.properties.I),
                        weight: 1,
                        opacity: 1,
                        color: 'black',
                        fillOpacity: 0.7
                    };
                },
                onEachFeature: function (feature, layer) {
                    // Agregar tooltips u otras interacciones si es necesario
                    layer.bindTooltip('Índice de propagación: ' + feature.properties.I);
                }
            });

            // Agregar el objeto GeoJSON al mapa existente
            geojson.addTo(map);
          },
        });
      });
    </script>
  </body>
</html>
