<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KAUIL</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <div
      id="buttons-container"
      style="
        top: 0;
        left: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      "
    >
      <h2 style="color: white;">Kauil</h2>

      <button class="btn" id="loadWildfires">
        Cargar Puntos de Calor (7 días)</button
      ><br />
      <button class="btn" id="loadDataAndShowPredictions" disabled>
        Calcular índices de propagación</button
      ><br />
      <button class="btn" id="Predictions" disabled>
        Calcular predicción de propagación</button
      ><br/>

      <h4 style="color: white;">Puntos de Calor Históricos</h4>
      <button class="btn" onclick="loadWildfires(1)">
        22- Marzo - 2021</button
      ><br/>
      <button class="btn" onclick="loadWildfires(2)">
        29- Marzo - 2021</button
      ><br/>
      <button class="btn" onclick="loadWildfires(3)" style="margin-bottom: 600px;">
        29- oct - 2022</button
      >
      <input type="hidden" name="wildfire_dataset" id="wildfire_dataset">
      <input type="hidden" name="wildfire_number" id="wildfire_number">
      <div id="dialog" class="dialog">
        <div class="dialog-content">
          <span id="dialog-text"></span>
        </div>
      </div>
    </div>
    <footer><h3></h3></footer>

    <div style="display: none" id="overlay"></div>

    <div id="map"></div>
    <div style="display: none" id="loader"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      var i = 0;
      function loading() {
        // Mostrar el overlay
        document.getElementById("overlay").style.display = "block";
        // Mostrar el loader
        document.getElementById("loader").style.display = "block";

        // Deshabilitar los botones durante la carga
        document.getElementById("loadWildfires").disabled = true;
        document.getElementById("loadDataAndShowPredictions").disabled = true;
      }

      function content_loaded() {
        // Ocultar el overlay
        document.getElementById("overlay").style.display = "none";
        // Ocultar el loader
        document.getElementById("loader").style.display = "none";

        // Habilitar los botones después de la carga
        document.getElementById("loadWildfires").disabled = false;
        document.getElementById("loadDataAndShowPredictions").disabled = false;
      }

      function CleanMap() {
        // Limpiar todas las capas del mapa
        map.eachLayer(function (layer) {
          map.removeLayer(layer);
        });

        // Volver a agregar la capa de mapa base
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          maxZoom: 19,
        }).addTo(map);
      }

      var map = L.map("map").setView([20.635, -103.57], 12);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      var loadWildfiresButton = document.getElementById("loadWildfires");
      var loadDataAndShowPredictionsButton = document.getElementById(
        "loadDataAndShowPredictions"
      );

      function loadWildfires(data){
        CleanMap();
        loading();
        $("#wildfire_dataset").val(data);

        // Enviar una solicitud al servidor para cargar los incendios en el mapa
        $.ajax({
          url: "/kauil/load_wildfires",
          data: {
            wildfire_dataset: data
          },
          method: "GET",
          beforeSend: function () {
            loading(); // Mostrar el loader antes de la solicitud
          },
          complete: function () {
            content_loaded(); // Ocultar el loader cuando la solicitud se completa
          },
          success: function (heatPoints) {
            // Define el icono personalizado
            var customIcon = L.icon({
              iconUrl: "{{ url_for('static',filename='images/fire.png') }}",
              iconSize: [40, 41],
              iconAnchor: [25, 41],
              popupAnchor: [1, -34],
            });
            $("#wildfire_number").val(heatPoints.length);
            heatPoints.forEach(function (point) {
              L.marker([point[1], point[0]], { icon: customIcon }).addTo(map); // Agrega un marcador en la posición
            });

            document.getElementById(
              "loadDataAndShowPredictions"
            ).disabled = false;
            document.getElementById(
              "Predictions"
            ).disabled = true;
          },
        });
      }
      loadWildfiresButton.addEventListener("click", function () {
        CleanMap();
        loading();
        $("#wildfire_dataset").val(0);
        // Enviar una solicitud al servidor para cargar los incendios en el mapa
        $.ajax({
          url: "/kauil/load_wildfires",
          data: {
            wildfire_dataset: 0
          },
          method: "GET",
          beforeSend: function () {
            loading(); // Mostrar el loader antes de la solicitud
          },
          complete: function () {
            content_loaded(); // Ocultar el loader cuando la solicitud se completa
          },
          success: function (heatPoints) {
            
            // Define el icono personalizado
            var customIcon = L.icon({
              iconUrl: "{{ url_for('static',filename='images/fire.png') }}",
              iconSize: [40, 41],
              iconAnchor: [25, 41],
              popupAnchor: [1, -34],
            });
            $("#wildfire_number").val(heatPoints.length);

            heatPoints.forEach(function (point) {
              L.marker([point[1], point[0]], { icon: customIcon }).addTo(map); // Agrega un marcador en la posición
            });

            document.getElementById(
              "loadDataAndShowPredictions"
            ).disabled = false;
            document.getElementById(
              "Predictions"
            ).disabled = true;
          },
        });
      });

      loadDataAndShowPredictionsButton.addEventListener("click", function () {
        loading();
        dialog.style.display = "block";
        // dialog.style.position = "ab";
        wildfire_dataset = $("#wildfire_dataset").val();
        wildfire_number = $("#wildfire_number").val();
        console.log(wildfire_dataset);
        dialogText.innerText =
          "El modelo de Rothermel es un modelo matemático que predice la tasa de propagación de un incendio aplicado a un amplio rango de terreno forestal";
        $.ajax({
          url: "/kauil/load_DataAndShowSpreadRate",
          data:{
            wildfire_dataset: wildfire_dataset
          },
          method: "GET",
          beforeSend: function () {
            loading(); // Mostrar el loader antes de la solicitud
          },
          complete: function () {
            content_loaded(); // Ocultar el loader cuando la solicitud se completa
          },
          success: function (response) {
            if(wildfire_number >= 3 )
            {
              document.getElementById("Predictions").disabled = false;
            }
            i++;
            console.log(response);

            if (i == 1) {
              // Define la leyenda estática
              var legend = L.control({ position: "bottomright" });

              legend.onAdd = function (map) {
                var div = L.DomUtil.create("div", "info legend");
                var labels = [
                  '<strong style="background: white; display: block; padding: 5px;">Índice de Propagación</strong>',
                ];
                var colors = ["green", "yellow", "orange", "red"]; // Colores para cada nivel de intensidad

                // Etiquetas y colores correspondientes
                var intensityLabels = ["Bajo", "Moderado", "Alto", "Muy Alto"];

                for (var i = 0; i < colors.length; i++) {
                  // Agregar un cuadro de color con fondo blanco
                  var colorBox =
                    '<span style="display: inline-block; width: 20px; height: 20px; background-color: white; border: 1px solid #ccc; background-clip: content-box;"><span style="display: inline-block; width: 100%; height: 100%; background-color: ' +
                    colors[i] +
                    ';"></span></span>';
                  div.innerHTML += colorBox + " " + intensityLabels[i] + "<br>";
                }

                div.innerHTML = labels.join("<br>") + div.innerHTML;
                return div;
              };

              // Agrega la leyenda al mapa
              legend.addTo(map);
            }
            // Obtén los valores mínimo y máximo del índice de propagación desde 'response'
            var minIntensity = Number.MAX_VALUE;
            var maxIntensity = Number.MIN_VALUE;

            response.features.forEach(function (feature) {
              var intensity = feature.properties.I;
              minIntensity = Math.min(minIntensity, intensity);
              maxIntensity = Math.max(maxIntensity, intensity);
            });

            // Define los colores que deseas usar en el gradiente
            var colors = ["green", "yellow", "orange", "red"];

            // Crea una escala de colores personalizada utilizando chroma.js
            var colorScale = chroma
              .scale(colors)
              .domain([minIntensity, maxIntensity]);

            // Crea una función para asignar colores en función del valor del índice de propagación
            function getColor(intensity) {
              return colorScale(intensity).hex();
            }
            // Recorre los features y agrega un círculo en cada ubicación con el color correspondiente
            response.features.forEach(function (feature) {
              var coordinates = feature.geometry.coordinates;
              var intensity = parseFloat(feature.properties.I);
              var color = getColor(intensity);

              // Crea un círculo en la ubicación con el color y radio adecuados
              circle = L.circle([coordinates[1], coordinates[0]], {
                color: "black",
                weight: 1,
                fillColor: color,
                fillOpacity: 0.7,
                radius: 400,
              }).addTo(map);
              // Agrega un evento de clic al círculo para mostrar el tooltip
              circle.on("click", function (e) {
                var tooltipContent =
                  "Temperatura: " +
                  feature.properties.temperature.toFixed(2) +
                  "<br>" +
                  "Velocidad del Viento: " +
                  feature.properties.wind_speed.toFixed(2) +
                  "<br>" +
                  "Carga de Combustible : " +
                  feature.properties.fuel_depth.toFixed(2) +
                  "<br>" +
                  "Profundidad de Combustible: " +
                  feature.properties.fuel_load.toFixed(2) +
                  "<br>" +
                  "Humedad de Combustible: " +
                  feature.properties.fuel_moisture.toFixed(2) +
                  "<br>";

                // Abre el tooltip en la ubicación del clic
                circle.bindTooltip(tooltipContent).openTooltip(e.latlng);
              });
            });
          },
        });
      });

      // Obtén elementos del DOM
      const PredictionsButton = document.getElementById("Predictions");
      const dialog = document.getElementById("dialog");
      const dialogText = document.getElementById("dialog-text");

      var customIconYellow = L.icon({
        iconUrl: "{{ url_for('static',filename='images/fire_yellow.png') }}",
        iconSize: [40, 41],
        iconAnchor: [25, 41],
        popupAnchor: [1, -34],
      });
      // Función para agregar un marcador al mapa
      function agregarMarcador(lat, lon) {
        L.marker([lat, lon], { icon: customIconYellow }).addTo(map);
      }

      // Mostrar el cuadro de diálogo al hacer clic en el botón
      PredictionsButton.addEventListener("click", () => {
        wildfire_dataset = $("#wildfire_dataset").val();

        $.ajax({
          url: "/kauil/predict",
          method: "GET",
          data:{
            wildfire_dataset: wildfire_dataset
          },
          beforeSend: function () {
            loading(); // Mostrar el loader antes de la solicitud
          },
          complete: function () {
            content_loaded(); // Ocultar el loader cuando la solicitud se completa
          },
          success: function (data) {
            for (var i = 0; i < data.length; i++) {
              var prediction = data[i];
              var latitud = prediction[0]; // Latitud predicha
              var longitud = prediction[1]; // Longitud predicha
              agregarMarcador(latitud, longitud); // Agrega el marcador al mapa
            }
          },
        });
      });
    </script>
  </body>
</html>
